/* Selector de nombre de etiqueta */
/* img{
    border-radius: 50px;
} */
/*Selector de clases */
/* .lista-1{
    font-size: 25px;
} */
/* Selector ID */
/* #lista-id{
    font-size: 50px;
} */

*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
body{
    background-color: aqua;
}
.titulo{
    text-align: center;
    padding: 15px;
    font-size: 35px;
}

.contenedor_imagen{
    text-align: center;
    margin-bottom: 25px;
}
.imagen{
    border-radius: 20px;
}
.subtitulo{
    text-align: center;
    margin-bottom: 25px;
    font-size: 25px;
}
.contenedor_lista{
    padding: 10px;
    display: flex;
    justify-content: center;
}
.contenedor_lista-2{
    margin: 5px;
    width: 35%;
}
